body {
    background-color: #000;
    padding: 0;
    margin: 0;
}

h1 {
    display: block;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    text-shadow: #ccc;
    text-align: center;
    font-size: 400%;
    font-family: "Lucida Console", monospace;
}

h2 {
    display: block;
    padding: 20;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-shadow: #ccc;
    text-align: center;
    font-size: 150%;
    font-family: "Lucida Console", monospace;
}

hr {
    display: block;
    color: #fff;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-width: 3px;
    border-style: solid;
}

#subtitle {
    display: block;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #ccc;
    text-align: center;
    font-size: 130%;
    font-family: "Lucida Console", monospace;
}

#visitors {
    color: #ccc;
    text-decoration: none;
}

#text {
    display: block;
    max-width: 600px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ccc;
    text-align: left;
    font-size: 100%;
    font-family: "Lucida Console", monospace;
}

#list {
    display: block;
    max-width: 500px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ccc;
    text-align: left;
    font-size: 100%;
    font-family: "Lucida Console", monospace;
}

#piece {
    display: block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#shuffle {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
}

