body {
    background-color: #000;
    padding: 0;
    margin: 0;
}

h1 {
    display: block;
    padding: 30;
    margin: auto;
    color: white;
    text-shadow: #ccc;
    text-align: center;
    font-size: 300%;
    font-family: "Lucida Console", monospace;
}

hr {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 3px;
    border-style: inset;
}

#subtitle {
    display: block;
    padding: 0;
    margin: auto;
    color: #ccc;
    text-align: center;
    font-size: 100%;
    font-family: "Lucida Console", monospace;
}

#shuffle {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
}

